/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin: 20px 0;
}

.top {
    --offset: 50px; 
    
    position: sticky;
    bottom: 20px;      
    right:20px; 
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    
    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 100px;
    white-space: nowrap;
  }
html,
body {
	scroll-behavior: smooth;
}